body{
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    font-size: small;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --maincolor:#009688;
    --darkcolor:#108b7f;
    --secondcolor:#FFC107;
}
.widthContent{
    width:80%
}
.centerCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.centerByMargin{
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.link{
    text-decoration: none;
    color: var(--maincolor);
}
/* //////////////////////////////////////////// nav //////////////////////////////////////// */
nav{
    padding: 10px 10%;
    background-color: var(--maincolor);
    position: relative;

}
nav .naving{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    cursor: pointer;
}
nav:hover > .naving{
    display: flex;
}
nav .listed{
    display: none;
}
nav .left{
    background: var(--darkcolor);
    color: #11796f;
    padding: 5px 30px;
}
nav .left i{
    font-size: 25px;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav li{
    cursor: pointer;
    padding: 4px 15px;
}
nav li:hover{
    font-weight: bolder;
    background: var(--darkcolor);
    border-radius: 5px;
    box-shadow: 0px 2px 0px 0px #09564e;
}
nav .right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/* ///////////////////////////////////////////////header//////////////////////////////////// */
header{
    width: 100%;
    min-height: 90vh;
    background: url("../media/solar-panels-meadow 1.png");
    background-size: cover;
    padding-bottom: 30px;
}
header section{
    width: 50%;
    margin-left: 10%;
    padding-top: 50px;
    color: white;
    text-transform: capitalize;
}
header section .top{
    display: flex;
    padding-bottom: 40px;
    align-items: center;
}
header section .top .range{
    background: #423f3f;
    margin: 0 20px;
    width: 180px;
    height: 2px;
    position: relative;
}
header section .top .range::after{
    content: "";
    position: absolute;
    width: 40%;
    left: 0;
    background-color: white;
    height: 100%;
}
header section h1{
    font-size: 40px;
}
header section p{
    padding: 20px 0;
}
header section .down button{
    padding: 6px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
header section .down .btn1{
    margin-right: 20px;
    background: var(--maincolor);
    color: white;
    margin-bottom: 10px;
}
header section .down .btn2{
    background-color: var(--secondcolor);
}
@media (max-width:1024px) {
    header{
        min-height: fit-content;
    }
    
}
/* //////////////////////////////////////////////////section1////////////////////////////////////////// */
.sec1{
    display: flex;
    padding: 40px 0;
    gap: 60px;
}
.sec1 .left{
    width: 60%;
}
.sec1 .left h1{
    font-size: 30px;
    letter-spacing: 1px;
}
.sec1 .left p{
    padding: 20px 0 30px;
    line-height: 1.5;
}
.sec1 .left li{
    font-weight: bold;
    list-style: none;
    padding-top: 10px;
    position: relative;
    margin-left: 30px;
}
.sec1 .left li span{
    color: #8BC34A;
    letter-spacing: 2px;
    position: absolute;
    left: -30px;
}
.sec1 .right{
    width: 40%;
    height: 100%;
    position: relative;
}
.sec1 .right img{
    width: 100%;
}
.sec1 .right div{
    background: var(--secondcolor);
    width: 60%;
    position: absolute;
    bottom: 30px;
    left: -10%;
    padding: 10px;
    border-radius: 7px;
}
.sec1 .right i{
    font-size: 30px;
    padding: 5px 0 15px 5px;
    opacity: .8;
}
/* //////////////////////////////////////////////////section2/////////////////////////////// */
.sec2{
    background:url("../media/8116\ 1.png");
    background-size: cover;
    padding: 80px 0 80px 10%;
    color: white;
}
.sec2 div{
    width: 55%;
}
.sec2 h1{
    font-size: 26px;
}
.sec2 p{
    padding: 18px 0;
}
.sec2 button{
    background: var(--secondcolor);
    padding: 3px 16px;
    border-radius: 15px;
    border: none;
}
/* ///////////////////////////////////////////////////section3////////////////////////////////////// */
.sec3{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}
.sec3 h1{
    font-size: 26px;
}
.sec3 .title{
    width: 80%;
    text-align: center;
    padding: 15px 0 30px 0;
}
.sec3 .continue{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec3 .continue div{
    width: 30%;
    box-shadow: 0 0 13px -2px #eee;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.sec3 .continue img{
    width: 100%;
}
.sec3 .continue h4{
    padding: 10px 0 5px 10px;
}
.sec3 p{
    padding: 10px;
}
.sec3 .continue a{
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--darkcolor);
    font-weight: bolder;
}
/* //////////////////////////////////////////////////section4/////////////////////////////////////// */
.sec4{
    background: url("../media/8116\ 1\ \(1\).png");
    background-size: cover;
    padding: 50px;
}
.sec4 div{
    width: 60%;
    background: #000000a6;
    backdrop-filter: blur(5px);
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.sec4 h1{
    padding: 6px 0 15px;
}
/* /////////////////////////////////////////////////section5//////////////////////////////////////// */
.sec5{
    display: flex;
    padding: 40px 0;
    gap: 20px;
}
.sec5 .left{
    width:40%;
    display: flex;
    flex-direction: column;
}
.sec5 .icon{
    padding: 3px;
    background: #00968840;
    width: fit-content;
    border-radius: 5px;
}
.sec5 .left i{
    font-size: 18px;
    background: var(--maincolor);
    padding: 5px;
    border-radius: 6px;
    color: white;
}
.sec5 .left h1{
    padding: 8px 0;
    font-size: 23px;
}
.sec5 .right{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
}
.sec5 .right p span{
    text-decoration: underline;
}
.sec5 .right .contain{
    width: 48%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid var(--maincolor);
    border-radius: 10px;
    background: #00968812;
}
.sec5 .right .contain div{
    background: #bfe7e3;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}
.sec5 .right .contain div i{
    opacity: .2;
    font-size: 28px;
}
.sec5 .right .contain a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--darkcolor);
    font-weight: bolder;
}
.sec5 .right .contain h3{
    padding: 20px 0 10px;
}
.sec5 .right .contain p{
    padding-bottom: 15px;
}
/* //////////////////////////////////////////////////section6////////////////////////////////////// */
.sec6{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}
.sec6 .title{
    width: 80%;
    text-align: center;
    padding: 15px 0 30px 0;
}
.sec6 .continue{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec6 .continue div{
    width: 30%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid var(--maincolor);
    border-radius: 10px;
    background: #00968812;
}
.sec6 h1{
    font-size: 30px;
    color: var(--maincolor);
}
.sec6 h4{
    padding: 10px 0;
    font-size: 16px;
}
.sec6 p{
    opacity: .8;
}
/* //////////////////////////////////////////////////section7////////////////////////////////////// */
.sec7{
    display: flex;
    padding: 30px 0 50px;
}
.sec7 .left i{
    font-size: 28px;
    color: var(--maincolor);
    padding: 10px 0;
}
.sec7 .left h1{
    font-size: 26px;
    padding: 5px 0 15px;
}
.sec7 .top{
    display: flex;
    justify-content: space-between;
}
.sec7 .points{
    display: flex;
    gap: 2px;
}
.sec7 .points div{
    background: #80808059;
    margin: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
.sec7 .points div:first-child{
    background: gray;
}
.sec7 .left{
    display: flex;
    flex-direction: column;
}
.sec7 .right{
    width: 70%;
    display: flex;
    flex-direction: column;
    background: #00968812;
    border-radius: 7px;
    padding: 20px;
}
.sec7 .right .top p{
    color: var(--maincolor);
}
.sec7 .right > p{
    padding: 30px 0;
    width: 80%;
    font-size: 15px;
}
.sec7 .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec7 .bottom img{
    width: 40px;
    margin-right: 10px;
}
.sec7 .bottom .one,.sec7 .bottom .two{
    display: flex;
    align-items: center;
}
.sec7 .bottom .two i{
    padding: 5px;
    border-radius: 50%;
    border: 1px solid;
    margin-left:5px
}
/* //////////////////////////////////////////////////footer//////////////////////////////////////// */
footer{
    background-color: #20343d;
    padding: 40px 0;
    color: white;
}
footer .icon{
    background: #ddd;
    width: fit-content;
    margin-left: 10%;
    padding: 4px 30px;
}
footer .icon i{
    color: #b2aeae;
    font-size: 22px;
}
footer form div{
    position: relative;
    margin-top: 5px;
}
footer form [type="email"]{
    border: 1px solid gray;
    border-radius: 15px;
    padding: 6px 10px;
    margin-top: 3px;
    background: #80808030;
}
footer form [type="submit"]{
    right: 0%;
    position: absolute;
    height: 100%;
    border-radius: 14px;
    border: none;
    transform: translateX(50%);
    padding: 0 20px;
    background: var(--secondcolor);
    color: white;
}
footer hr{
    background: gray;
    height: 1px;
    border: none;
}
footer .content,footer .bottom{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    flex-wrap:wrap;
}
footer .bottom{
    font-size: 9px;
    color: gray;
    flex-direction: column;
    align-items: flex-start;
}
footer .bottom p{
    align-self: flex-end;
    padding-top: 7px;
}
footer .left, footer .list{
    display: flex;
    list-style: none;
    gap: 15px;
}
footer .list{
    gap: 0;
}
footer .list li{
    border-right: 1px solid;
    padding: 0 10px;
}
/* //////////////////////////////////////////////////media query////////////////////////// */
@media (max-width:1200px) {
    .sec3 .continue div,.sec6 .continue div{
        width: 48%;
    }
}
@media (max-width:992px) {
    header section .top {
        font-size: 30px;
    }
    header section {
        width: 60%;
        padding-top: 5%;
    }
    header section h1 {
        font-size: 65px;
    }
    header section p {
        padding: 20px 0;
        font-size: 30px;
    }
    header section .down button {
        font-size: 30px;
        padding: 10px 20px;
    }
    .sec2 div{
        width: 85%;
    }
    .sec3 .continue div,.sec6 .continue div,.sec5 .right .contain{
        width: 100%;
    }
    nav .naving{
        display: none;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        background: var(--maincolor);
        width: 100%;
        left: 0;
        z-index: 10;
        padding: 40px 0;
    }
    nav .right {
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    nav .listed{
        display: block;
        font-size: 26px;
        color: white;
    }
}
